.idCardContainer {
  display: flex;
  margin: 30px 30px 50px 30px;
  border: 1px solid rgba(0, 0, 0, 0.313);
  width: 600px;
}

.idCardContainer img {
  height: auto;
  width: 180px;
  padding: 5px;
}

.innerIdCard {
  margin-left: 20px;
}

.oneLineContainer {
  display: flex;
  border: 1px solid rgba(0, 0, 0, 0.313);
  width: 600px;
  padding-left: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 15px 30px 15px 30px;
}

h2 {
  margin: 50px 0 30px 30px;
  color: rgba(234, 93, 42, 0.877);
  border-top: 1px solid rgba(234, 93, 42, 0.877);
  padding-top: 20px;
}