.idCardContainer {
  display: flex;
  margin: 30px 30px 50px 30px;
  border: 1px solid rgba(234, 93, 42, 0.877);
  border-radius: 10px;
  background-color: rgba(209, 143, 119, 0.208);
  box-shadow: 2px 2px 3px rgba(139, 85, 65, 0.68);
  width: 600px;
}

.idCardContainer img {
  height: auto;
  width: 180px;
  padding: 5px;
}

.innerIdCard {
  margin-left: 20px;
}

.oneLineContainer {
  display: flex;
  border: 1px solid rgba(234, 93, 42, 0.877);
  border-radius: 10px;
  background-color: rgba(209, 143, 119, 0.208);
  box-shadow: 2px 2px 3px rgba(139, 85, 65, 0.68);
  width: 600px;
  padding-left: 5px;
  height: 40px;
  display: flex;
  align-items: center;
  margin: 15px 30px 15px 30px;
}

h2 {
  margin: 50px 0 30px 30px;
  color: rgba(234, 93, 42, 0.877);
  border-top: 1px solid rgba(234, 93, 42, 0.877);
  padding-top: 20px;
}

.boxColor {
  margin: 15px 30px 15px 30px;
  height: 50px;
  width: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white; 
  border-radius: 12px;
}

.creditCardContainer {
  margin: 15px 30px 15px 30px;
  height: 170px;
  width: 280px;
  padding: 10px 20px 20px 20px;
  text-align: center;
  border-radius: 14px;
}

.logoDiv {
  display: flex;
  justify-content: end;
}

.numberDiv {
  font-size: 25px;
  letter-spacing: 2px;
}

.expirationDiv{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.ownerDiv {
  display: flex;
  justify-content: baseline;
}

.driverCard {
  background-color: rgba(55, 67, 194, 0.888);
  width: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20px 0 20px 30px;
  border-radius: 12px;
}

.driverCard img {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.driverCard2 {
  color: white;
  padding-left: 20px;
}